[package]
name = "minifb"
version = "0.15.1"
license = "MIT/Apache-2.0"
authors = ["Daniel Collin <daniel@collin.com>"]
description = "Cross-platform window setup with optional bitmap rendering"
keywords = ["windowing", "window", "framebuffer"]
categories = ["rendering"]
repository = "https://github.com/emoon/rust_minifb"
documentation = "https://docs.rs/minifb/0.15/minifb"
build = "build.rs"
edition = "2018"
readme = "README.md"

exclude = [
  "resources/"
]

[badges]
maintenance = {status = "actively-developed"}

[dev-dependencies]
png = "0.15"

[build-dependencies]
cc = "1.0"

[dependencies]
cast = "0.2"
time = "0.2.3"
raw-window-handle = "0.3.3"

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3"
features = [
    "winuser",
    "wingdi",
    "libloaderapi",
    "errhandlingapi"
]

[target.i686-unknown-linux-gnu.dependencies]
x11-dl = "2.18.3"

[target.x86_64-unknown-linux-gnu.dependencies]
x11-dl = "2.18.3"

[target.arm-unknown-linux-gnueabihf.dependencies]
x11-dl = "2.18.3"

[target.armv7-unknown-linux-gnueabihf.dependencies]
x11-dl = "2.18.3"

[target.aarch64-unknown-linux-gnu.dependencies]
x11-dl = "2.18.3"

[target.x86_64-unknown-dragonfly.dependencies]
x11-dl = "2.18.3"

[target.x86_64-unknown-freebsd.dependencies]
x11-dl = "2.18.3"

[target.x86_64-unknown-redox.dependencies]
orbclient = "0.3.20"
