[package]
name = "minifb"
version = "0.15.3"
license = "MIT/Apache-2.0"
authors = ["Daniel Collin <daniel@collin.com>"]
description = "Cross-platform window setup with optional bitmap rendering"
keywords = ["windowing", "window", "framebuffer"]
categories = ["rendering"]
repository = "https://github.com/emoon/rust_minifb"
documentation = "https://docs.rs/minifb/0.15/minifb"
build = "build.rs"
edition = "2018"
readme = "README.md"

exclude = [
  "resources/"
]

[badges]
maintenance = {status = "actively-developed"}

[dev-dependencies]
png = "0.16"

[build-dependencies]
cc = "1.0"

[dependencies]
cast = "0.2"
time = "0.1.34"
raw-window-handle = "0.3.3"

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3"
features = [
    "winuser",
    "wingdi",
    "libloaderapi",
    "errhandlingapi"
]

[target.'cfg(unix)'.dependencies]
x11-dl = "2.18.3"
wayland-client = "0.25"
wayland-protocols = { version = "0.25", features = ["client"] }
tempfile = "3.1.0"

[target.x86_64-unknown-redox.dependencies]
orbclient = "0.3.20"
