[package]
name = "minifb"
version = "0.11.0"
license = "MIT/Apache-2.0"
authors = ["Daniel Collin <daniel@collin.com>"]
description = "Cross-platform window setup with optional bitmap rendering"
keywords = ["windowing", "window", "framebuffer"]
categories = ["rendering"]
repository = "https://github.com/emoon/rust_minifb"
documentation = "https://docs.rs/minifb/0.10.5/minifb"
build = "build.rs"
readme = "README.md"

[badges]
appveyor = { repository = "emoon/rust-minifb" }
travis-ci = { repository = "emoon/rust_minifb" }

[build-dependencies]
cc = "1.0"

[dependencies]
time = "0.1.34"

[target.x86_64-pc-windows-msvc.dependencies]
user32-sys = "0.1.2"
winapi = "0.2.4"
kernel32-sys = "0.2.2"
gdi32-sys = "0.1.1"

[target.x86_64-pc-windows-gnu.dependencies]
user32-sys = "0.1.2"
winapi = "0.2.4"
kernel32-sys = "0.2.2"
gdi32-sys = "0.1.1"

[target.i686-pc-windows-msvc.dependencies]
user32-sys = "0.1.2"
winapi = "0.2.4"
kernel32-sys = "0.2.2"
gdi32-sys = "0.1.1"

[target.i686-pc-windows-gnu.dependencies]
user32-sys = "0.1.2"
winapi = "0.2.4"
kernel32-sys = "0.2.2"
gdi32-sys = "0.1.1"

[target.i686-unknown-linux-gnu.dependencies]
x11-dl = "~2.14"

[target.x86_64-unknown-linux-gnu.dependencies]
x11-dl = "~2.14"

[target.arm-unknown-linux-gnueabihf.dependencies]
x11-dl = "~2.14"

[target.aarch64-unknown-linux-gnu.dependencies]
x11-dl = "~2.14"

[target.x86_64-unknown-dragonfly.dependencies]
x11-dl = "~2.14"

[target.x86_64-unknown-freebsd.dependencies]
x11-dl = "~2.14"

[target.x86_64-unknown-redox.dependencies]
orbclient = "0.3.14"
